.header {
    height: 100px;
}

.header__inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    justify-content: center;
}

.header__logo img {
    width: 40%;
}

.nav {
    display: flex;
    gap: 30px;
}

.nav__link {
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}